<mat-card>
    <mat-spinner *ngIf='isLoading'></mat-spinner>

    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf='!isLoading'>

      <mat-form-field>
        <input
          matInput
          ngModel
          required
          email
          name="email"
          type="email"
          placeholder="Email"
          #emailInput="ngModel">
        <mat-error *ngIf="emailInput.invalid">Please enter a valid Email</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          ngModel
          required
          name="password"
          type="password"
          placeholder="Password"
          #passwordInput="ngModel">
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">
        Sign-Up
      </button>

    </form>
  </mat-card>
